<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Users list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Users List</h1>

<form th:method="PATCH" th:action="@{'/admin/users/edit/' + ${id}}" th:object="${userToEdit}">
    <input id="username" placeholder="Enter Username" required th:field="*{username}" type="text"/>
    <br/><br/>
    <input id="firstName" placeholder="Enter First Name" required th:field="*{firstName}" type="text"/>
    <br/><br/>
    <input id="lastName" placeholder="Enter Last Name" required th:field="*{lastName}" type="text"/>
    <br/><br/>
    <input id="password" placeholder="Enter Password" required th:field="*{password}" type="text"/>
    <div>
        <p>Choose roles:</p>
        <select name="rolesSelected" multiple required size="6">
            <option disabled selected>select role</option>
            <div th:each="role : ${allRoles}">
                <option th:text="${role.getName()}" th:value="${role.getId()}" name="roles"/>
            </div>
        </select>

    </div>

    <input type="submit" value="Update User">
    <input type="reset" value="Reset">
</form>

</body>
</html>