<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Users list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Users List</h2>

<form method="post" th:action="@{/admin/users}" th:object="${userInfo}">
    <input id="username" placeholder="Enter Username" required th:field="*{username}" type="text"/>
    <br/><br/>
    <input id="firstName" placeholder="Enter First Name" required th:field="*{firstName}" type="text"/>
    <br/><br/>
    <input id="lastName" placeholder="Enter Last Name" required th:field="*{lastName}" type="text"/>
    <br/><br/>
    <input id="email" placeholder="Enter password" required th:field="*{password}" type="text"/>
    <br/><br/>
    <div>
        <p>Choose roles:</p>
        <select name="rolesSelected" multiple required size="6">
            <option disabled selected>select role</option>
            <div th:each="role : ${allRoles}">
                <option th:text="${role.getName()}" th:value="${role.getId()}" name="roles"/>
            </div>
        </select>

    </div>
    <input type="submit" value="Create User">
    <input type="reset" value="Reset">

</form>

<br/><br/>

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>PASSWORD</th>
            <th>ROLES</th>
            <th>ACTIONS</th>

        </tr>

        <tr th:if="${#lists.isEmpty(users)}">
            <td colspan="7">No Records found. Add some...!</td>
        </tr>

        <tr th:each ="user : ${users}">
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getFirstName()}">...</td>
            <td th:utext="${user.getLastName()}">...</td>
            <td th:utext="${user.getPassword()}">...</td>
            <td th:utext="${user.getRoles()}">...</td>
            <td><form th:method="DELETE" th:action="@{'/admin/users/delete/' + ${user.id}}">
                <button type="submit" name="submit" value="value" class="link-button">DELETE</button>
            </form></td>
            <td><form th:method="GET" th:action="@{'/admin/users/edit/' + ${user.id}}">
                <button type="submit" name="submit" value="value" class="link-button">EDIT</button>
            </form></td>
        </tr>
    </table>

</div>
</body>
</html>